<section id="[[COMPONENT_ID]]" class="component-captioned-image-bar row square-row">
	<div class="col-md-4 col-xs-12 content flex-center text-center">
		{{ settings["[[COMPONENT_ID]]/caption_1"] }}
	</div>

	{{ setting_helpers.image_tag("[[COMPONENT_ID]]/image_1", class_name="col-md-4 col-xs-12") }}

	<div class="col-md-4 col-xs-12 content flex-center text-center">
		{{ settings["[[COMPONENT_ID]]/caption_2"] }}
	</div>

	{{ setting_helpers.image_tag("[[COMPONENT_ID]]/image_2", class_name="col-md-4 col-xs-12") }}

	<div class="col-md-4 col-xs-12 content flex-center text-center">
		{{ settings["[[COMPONENT_ID]]/caption_3"] }}
	</div>

	{{ setting_helpers.image_tag("[[COMPONENT_ID]]/image_3", class_name="col-md-4 col-xs-12") }}
</section>
