<section id="[[COMPONENT_ID]]">
	<div class="container">
		<div class="row">
			<a class="col-md-6 col-xs-12 image-block" href="{{ settings['[[COMPONENT_ID]]/link_1'] }}">
				{{ setting_helpers.image_tag("[[COMPONENT_ID]]/image_1") }}
			</a>

			<a class="col-md-6 col-xs-12 content" href="{{ settings['[[COMPONENT_ID]]/link_1'] }}">
				<div class="main-caption">{{ settings["[[COMPONENT_ID]]/main_caption_1"] }}</div>
				<div class="mini-caption">{{ settings["[[COMPONENT_ID]]/mini_caption_1"] }}</div>
			</a>

			<a class="col-md-6 col-xs-12 image-block" href="{{ settings['[[COMPONENT_ID]]/link_2'] }}">
				{{ setting_helpers.image_tag("[[COMPONENT_ID]]/image_2") }}
			</a>

			<a class="col-md-6 col-xs-12 content" href="{{ settings['[[COMPONENT_ID]]/link_2'] }}">
				<div class="main-caption">{{ settings["[[COMPONENT_ID]]/main_caption_2"] }}</div>
				<div class="mini-caption">{{ settings["[[COMPONENT_ID]]/mini_caption_2"] }}</div>
			</a>
		</div>
	</div>
</section>
