#[[COMPONENT_ID]] {
	background-color: {{ settings['[[COMPONENT_ID]]/background_color'] }};
}

#[[COMPONENT_ID]] .content {
	display: flex;
	align-items: center;
}

#[[COMPONENT_ID]] .content {
	padding: 20px;
}

#[[COMPONENT_ID]] .content .main-caption {
	flex-grow: 1;
}

#[[COMPONENT_ID]] .image-block div {
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
	#[[COMPONENT_ID]] .content {
		order: 1;
	}

	#[[COMPONENT_ID]] .image-block {
		order: 0;
		height: 275px;
	}
}

/*
* Make the height of the images be proportional to the image aspect ratio and the view or container width
*/
#[[COMPONENT_ID]] .image-block {
	padding: 0;
	height: 1px;
	min-height: calc((329 / 425) * 100vw); /* full view width */
}

@media(min-width: 544px) {
	#[[COMPONENT_ID]] .image-block {
		padding: 0 20px;
		min-height: calc((329 / 425) * (576px - 20px * 2)); /* full container width */
	}
}

@media(min-width: 768px) {
	#[[COMPONENT_ID]] .image-block {
		padding: 0 20px;
		min-height: calc((329 / 425) * ((720px / 2) - 20px * 2)); /* half the container width */
	}
}

@media(min-width: 992px) {
	#[[COMPONENT_ID]] .image-block {
		padding: 0 20px;
		min-height: calc((329 / 425) * ((940px / 2) - 20px * 2)); /* half the container width */
	}
}

@media(min-width: 1200px) {
	#[[COMPONENT_ID]] .image-block {
		min-height: calc((329 / 425) * ((1140px / 2) - 20px * 2)); /* half the container width */
	}
}

#[[COMPONENT_ID]] h1 {
	color: {{ settings['[[COMPONENT_ID]]/heading_1/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_1/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_1/font_size'] }};
}

#[[COMPONENT_ID]] h2 {
	color: {{ settings['[[COMPONENT_ID]]/heading_2/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_2/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_2/font_size'] }};
}

#[[COMPONENT_ID]] h3 {
	color: {{ settings['[[COMPONENT_ID]]/heading_3/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_3/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_3/font_size'] }};
}

#[[COMPONENT_ID]] p {
	color: {{ settings['[[COMPONENT_ID]]/body/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/body/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/body/font_size'] }};
}
