{% extends "base.html" %}

{% block page_content %}

<div class="form-feedback">
  {%- if result -%}
  <p>
	{{ result }}
  </p>
  {%- endif -%}
</div>

<div class="headline-container">
	<div class="headline">
		<div class="container">
			<h2>Change Your Password</h2>
		</div>
	</div>
</div>

<div class="form-container container">
<div class="col-sm-6 col-sm-offset-3">
		<form action="/customer/change_password" class="simple-form form-horizontal" autocomplete="off" method="post" accept-charset="utf-8">
			<fieldset>
				<div class="control-group">
					<label for="old_password" class="control-label">Old Password</label>
					<div class="controls">
						<input name="old_password" type="password" required="required" class="input-xlarge">
					</div>
				</div>
						
				<div class="control-group">
					<label for="password" class="control-label">New Password</label>
					<div class="controls">
						<input name="password" type="password" required="required" class="input-xlarge">
					</div>
				</div>
					
				<div class="control-group">
					<label for="password2" class="control-label">Verify</label>
					<div class="controls">
						<input name="password2" type="password" required="required" >
					</div>
				</div>
					
              	<div class="control-group">
                  <div class="controls">
                    <button class="btn submit-button" type="submit">Submit</button>	
                  </div>
              	</div>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}
