#[[COMPONENT_ID]] {
	background-color: {{ settings["[[COMPONENT_ID]]/background_color"] }};
}

#[[COMPONENT_ID]] h3 {
	color: {{ settings['[[COMPONENT_ID]]/variant/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/variant/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/variant/font_size'] }};
}

#[[COMPONENT_ID]] p {
	color: {{ settings['[[COMPONENT_ID]]/body/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/body/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/body/font_size'] }};
}

#[[COMPONENT_ID]] .sf-item {
	background-color: {{ settings["[[COMPONENT_ID]]/tile_background_color"] }};
}