<section id="[[COMPONENT_ID]]" class="component-propositions-panel row">
	<div class="col-md-3 col-sm-6 col-xs-12 content">
        <div class="propositions-title row">
            {{ setting_helpers.image_tag("[[COMPONENT_ID]]/image_1", class_name="propositions-image") }}
            {{ settings["[[COMPONENT_ID]]/title_1"] }}
        </div>
		{{ settings["[[COMPONENT_ID]]/proposition_1"] }}
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 content">
		<div class="propositions-title row">
            {{ setting_helpers.image_tag("[[COMPONENT_ID]]/image_2", class_name="propositions-image") }}
            {{ settings["[[COMPONENT_ID]]/title_2"] }}
        </div>
        {{ settings["[[COMPONENT_ID]]/proposition_2"] }}
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 content">
		<div class="propositions-title row">
            {{ setting_helpers.image_tag("[[COMPONENT_ID]]/image_3", class_name="propositions-image") }}
            {{ settings["[[COMPONENT_ID]]/title_3"] }}
        </div>
        {{ settings["[[COMPONENT_ID]]/proposition_3"] }}
	</div>
    <div class="col-md-3 col-sm-6 col-xs-12 content">
        <div class="propositions-title row">
            {{ setting_helpers.image_tag("[[COMPONENT_ID]]/image_4", class_name="propositions-image") }}
            {{ settings["[[COMPONENT_ID]]/title_4"] }}
        </div>
        {{ settings["[[COMPONENT_ID]]/proposition_4"] }}
    </div>
</section>
