{% extends "base.html" %}

{% block page_content %}

<div class="headline-container">
	<div class="headline">
		<div class="container">
			<div data-barley="faq_title" data-barley-editor="plus" class="heading">
				<h2>{{ settings.faq_title | safe }}</h2>
			</div>
		</div>
		<div class="paragraph" data-barley="faq_subtitle" data-barley-editor="advanced">{{ settings.faq_sub_heading | safe }}</div>
	</div>
</div>

<div class="form-container container">
	
	<div data-barley="faq_body" data-barley-editor="advanced">{{ settings.faq_body | safe }}</div>


</div>
{% endblock %}

