<div class="utility-nav">
    {% if guest %}
      <a href="/customer/login" data-barley="header_login_link" data-barley-editor="linkedit">Login</a>
    {% else %}
          <a href="/customer/account">{{ customer.name }}</a>
          <span>|</span> <a href="/customer/logout">Sign Out</a>
    {% endif %}
    <span>|</span> <a href="/checkout" data-barley="header_cart_link" data-barley-editor="link">View Cart</a>
</div>
<div class="bs-header" id="content">
	<div class="container">
		<!-- Static navbar -->
		<div class="navbar navbar-static-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/">
					<div class="navbar-brand" data-barley="header_brand_link" data-barley-editor="logo">
						<span>{{ store.name }}</span>
					</div>
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					{%- if guest -%}
					<li><a href="/customer/login" data-barley="header_login_link_mobile" data-barley-editor="linkedit">Login</a></li>
					{%- else -%}
					<li><a href="/customer/logout">Sign Out</a></li>
					{%- endif -%}
					<li><a href="/howitworks" data-barley="header_hiw_title" data-barley-editor="linkedit" {% if slug == "howitworks" %}class='on-state'{% endif %}>{{ settings.hiw_title | safe }}</a></li>
					<li><a href="/subscribe" data-barley="header_join_title" data-barley-editor="linkedit" {% if slug == "subscribe" %}class='on-state'{% endif %}>{{ settings.join_title | safe }}</a></li>
					<li><a href="/about_us" data-barley="header_about_title" data-barley-editor="linkedit" {% if slug == "about_us" %}class='on-state'{% endif %}>{{ settings.about_title | safe }}</a></li>
					<li><a href="/faq" data-barley="header_faq_title" data-barley-editor="linkedit" {% if slug == "faq" %}class='on-state'{% endif %}>{{ settings.faq_title | safe }}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
