<div id="[[COMPONENT_ID]]">
	{% set cart = active_cart() %}
	<div class="navbar row hidden-sm-down navbar-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-news">
					{{ settings['[[COMPONENT_ID]]/banner/content'] }}
				</div>
			</div>
		</div>
	</div>

	<section class="navbar row">
		<a href="/" class="navbar-brand">
			{% if settings["[[COMPONENT_ID]]/control_variable/logo_image"] %}
			<img src="{{ settings["[[COMPONENT_ID]]/control_variable/logo_image"] | asset_url }}"/>
			{% else %}
			<span class="store-name">{{ store.name }}</span>
			{% endif %}
		</a>
	</section>

	<section class="navbar row hidden-sm-down">
		<div id="navbar-menu-md-up" class="navbar-toggleable-sm collapse container-fluid">
			<ul class="navbar-nav">
				{% for item in navigation_lists().header %}
					{% if item.children %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">{{ item.title | safe }}</a>
							<ul class="dropdown-menu">
								{% for subitem in item.children %}
									<li><a href="{{ subitem.url }}" class="nav-link">{{ subitem.title | safe }}</a></li>
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li><a href="{{ item.url }}" class="nav-link">{{ item.title | safe }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="navbar row hidden-md-up">
		<button type="button" class="navbar-toggler hidden-md-up" data-toggle="collapse" data-target="#navbar-menu">Menu</button>
		<div id="navbar-menu" class="navbar-toggleable-sm collapse container-fluid">
			<ul class="navbar-nav">
				{% for item in navigation_lists().header %}
					{% if item.children %}
						{% for subitem in item.children %}
							<li><a href="{{ subitem.url }}" class="nav-link">{{ subitem.title | safe }}</a></li>
						{% endfor %}
					{% else %}
						<li><a href="{{ item.url }}" class="nav-link">{{ item.title | safe }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</section>
</div>
