<div class="row">
  <div class="progressbar col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2">
    {% if stage == "product" %}
      <div class="step first active">
        <span class="point"></span>
        <strong class="title" data-barley="prog_step_product_title" data-barley-editor="simple">Select Product</strong>
      </div>
      <div class="step second">
        <span class="point"></span>
        <strong class="title" data-barley="prog_step_options_title" data-barley-editor="simple">Select Options</strong>
      </div>
      <div class="step third">
        <span class="point"></span>
        <strong class="title" data-barley="prog_step_subscribe_title" data-barley-editor="simple">Subscribe</strong>
      </div>
    {% else %}
      {% set ns = (steps | length) %}
      {% set left_percent_increment = 100 // ns %}
      {% set current_left_percent = 0 %}
      <div class="step first">
        <span class="point"></span>
        <strong class="title" data-barley="prog_step_known_product_title" data-barley-editor="simple">Select Product</strong>
      </div>
      {% for key, val in steps %}
        {% set current_left_percent = current_left_percent + left_percent_increment %}
        <div class="step {% if loop.index == cur_step %}active{% endif %}" style="left: {{ current_left_percent }}%;">
          <span class="point"></span>
          {% if key == 'variant' %}
            <strong class="title" data-barley="variant.{{ val.id }}.name" data-barley-editor="simple">Select {{ val.name }}</strong>
          {% else %}
            <strong class="title" data-barley="headline_term_title" data-barley-editor="simple">Select {{ key.title() }}</strong>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
