#[[COMPONENT_ID]] {
	background-color: {{ settings['[[COMPONENT_ID]]/background_color'] }};
}

#[[COMPONENT_ID]] .content-row {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

#[[COMPONENT_ID]] .content {
	margin: 25px auto;
	max-height: 250px;
	max-width: 250px;
	overflow: hidden;

	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}

#[[COMPONENT_ID]] h1 {
	color: {{ settings['[[COMPONENT_ID]]/heading_1/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_1/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_1/font_size'] }};
}

#[[COMPONENT_ID]] h2 {
	color: {{ settings['[[COMPONENT_ID]]/heading_2/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_2/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_2/font_size'] }};
}

#[[COMPONENT_ID]] h3 {
	color: {{ settings['[[COMPONENT_ID]]/heading_3/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_3/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_3/font_size'] }};
}

#[[COMPONENT_ID]] p {
	color: {{ settings['[[COMPONENT_ID]]/body/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/body/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/body/font_size'] }};
}

@media (min-width: 768px) {
	#[[COMPONENT_ID]] .content-row {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}