#[[COMPONENT_ID]] {
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 35px;
	padding: 20px 0;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

#[[COMPONENT_ID]] ul.nav-pills {
	background-color: #FAFAFA;
	border: 1px solid #EEEEEE;
	border-radius: 3px;
	padding: 3px;
}
