<section id="[[COMPONENT_ID]]" {{ setting_helpers.image_attributes('[[COMPONENT_ID]]/image', overlay=True) }}>
	{% set cart = active_cart() %}

	<!--
	Navigation
	-->
	<div class="navbar">
		<div class="container">
			<div class="row">
				<button type="button" class="navbar-toggler hidden-md-up col-xs-12" data-toggle="collapse" data-target="#navbar-menu">Menu</button>

				<div id="navbar-menu" class="navbar-toggleable-sm collapse col-xs-12">
					<ul class="navbar-nav">
						{% for item in navigation_lists().header %}
							{% if item.children %}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">{{ item.title | safe }}</a>
									<ul class="dropdown-menu">
										{% for subitem in item.children %}
											<li><a href="{{ subitem.url }}" class="nav-link">{{ subitem.title | safe }}</a></li>
										{% endfor %}
									</ul>
								</li>
							{% else %}
								<li>
									<a href="{{ item.url }}" class="nav-link" {% if 'Cart' in item.title %}data-toggle="offcanvas show-menu"{% endif %}>
										{{ item.title | safe }}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<a href="/" class="navbar-brand col-xs-12">
				{% if settings["[[COMPONENT_ID]]/logo_image"] %}
				<img src="{{ settings["[[COMPONENT_ID]]/logo_image"] | asset_url }}"/>
				{% else %}
				{{ store.name }}
				{% endif %}
			</a>
		</div>
	</div>

	<!--
	Hero
	-->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 flex-center text-center hero-content">
				<div>
					{{ settings["[[COMPONENT_ID]]/content"] }}
					<a type="button" class="btn btn-large btn-primary" href="{{ settings['[[COMPONENT_ID]]/primary_button_url'] }}">
						{{ settings["[[COMPONENT_ID]]/primary_button_text"] }}
					</a>
					<a type="button" class="btn btn-large btn-secondary" href="{{ settings['[[COMPONENT_ID]]/secondary_button_url'] }}">
						{{ settings["[[COMPONENT_ID]]/secondary_button_text"] }}
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
