{% extends "base.html" %}

{% block page_content %}

<div class="form-feedback">
  {%- if result -%}
  <p>
	{{ result }}
  </p>
  {%- endif -%}
</div>

<div class="headline-container">
	<div class="headline">
		<div class="container">
			<h2>Forgot your password?</h2>
          <p>No worries, we'll help you reset it and get back in.</p>
		</div>
	</div>
</div>

<div class="form-container container">
<div class="col-sm-6">
    <form action="/customer/forgot" class="simple-form form-horizontal" method="post" accept-charset="utf-8">
		<fieldset>

			<div class="control-group">
				<label for="email">Email</label>
				<div class="controls">
					<input id="email" name="email" type="email" placeholder="Email address" class="input-xlarge" required="">

				</div>
			</div>

			<div class="control-group">
				<label for="submit"></label>
				<div class="controls">
					<button id="submit" name="submit" class="btn btn-primary">Submit</button>
				</div>
          </div>

		</fieldset>
	</form>
</div>
</div>
<br/>
<br/>

{% endblock %}

