{% extends "base.html" %}

{% block page_content %}

<div class="form-feedback">
  {%- if result -%}
  <p>
	{{ result }}
  </p>
  {%- endif -%}
</div>

<div class="headline-container">
	<div class="headline">
		<div class="container">
			<h2>Password Reset</h2>
          <p>Use your email and the temporary key just sent to you to change your password</p>
		</div>
	</div>
</div>

<div class="form-container container">
<div class="col-sm-6">
    <form action="/customer/password_reset" class="simple-form form-horizontal" method="post" accept-charset="utf-8">
		<fieldset>

			<div class="control-group">
				<label for="email">Email</label>
				<div class="controls">
		          	<input name="email" type="email" {% if email %}value="{{ email }}"{% endif %} required="required" >
				</div>
			</div>
          
			<div class="control-group">
				<label for="temporary_key">Temporary Key</label>
				<div class="controls">
		          	<input name="temporary_key" type="text" {% if temporary_key %}value="{{ temporary_key }}"{% endif %} required="required" >                 
				</div>
			</div>

          	<div class="control-group">
				<label for="password">New Password</label>
				<div class="controls">
		          	<input name="password" type="password" required="required" >
				</div>
			</div>
          
          	<div class="control-group">
				<label for="password2">New Password Again</label>
				<div class="controls">
		          	<input name="password2" type="password" required="required" placeholder="Repeat your password">
				</div>
			</div>
          
			<div class="control-group">
				<label for="submit"></label>
				<div class="controls">
					<button id="submit" name="submit" class="btn btn-primary">Submit</button>
				</div>
          </div>

		</fieldset>
	</form>
</div>
</div>
<br/>
<br/>
{% endblock %}

