<section id="[[COMPONENT_ID]]" class="component-quote-panel">
	<div class="container-fluid">
		<div class="row square-row">
			<div class="col-md-4 col-xs-12 content square-content flex-center text-center">
				{{ settings["[[COMPONENT_ID]]/quote_1"] }}
			</div>
			<div class="col-md-4 col-xs-12 content square-content flex-center text-center">
				{{ settings["[[COMPONENT_ID]]/quote_2"] }}
			</div>
			<div class="col-md-4 col-xs-12 content square-content flex-center text-center">
				{{ settings["[[COMPONENT_ID]]/quote_3"] }}
			</div>
		</div>
	</div>
</section>
