<div class="row sf-grid">
	{% for value in flow_step.values %}
	<div class="col-md-4 col-xs-12 sf-grid__container">
		<div class="sf-item">
			<div class="sf-item__content">
				<a href="{{ value | subscribe_flow_url }}">
					{#
						Creates an image tag if one is uploaded to the variant value model. Otherwise it creates an image tag from the default image (images/variant_placeholder.jpg)
					#}
					{{ value | object_img_tag(default_img_path=settings['[[COMPONENT_ID]]/variant_placeholder_image'], css_class="") }}
				</a>

				<!-- Product Name -->
				<h3 class="sf-item__name">{{ value.value }}</h3>

				<p class="sf-item__description">
					{#
						Renders the value description if one exists, otherwise uses the default string
					#}
					{{ value.description | default("", True) }}
				</p>
			</div>
			<div class="sf-item__footer">
				{#
					Creates a link which advances the subscribe flow to the next step, choosing the current variant value
				#}
				<a type="button" href="{{ value | subscribe_flow_url }}" class="btn btn-large btn-primary">
					{{ settings['[[COMPONENT_ID]]/variant_step_variant_button_text'] }}
				</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
