{% extends "base.html" %}

{% block page_content %}

<div role="main">
	<!--Added Custom Banner-->
	<div class="banner-container">
		<div class="banner" style="background-image: url({{ 'images/banner.png' | asset_url }});" data-barley="banner-image" data-barley-editor="bgimage" data-width="2400" data-height="1100">
			<div class="container">
				<div class="heading" data-barley="home_heading" data-barley-editor="plus">
					<h1>{{ settings.home_heading | safe }}</h1>
				</div>
				<div class="paragraph" data-barley="home_sub_heading" data-barley-editor="advanced">{{ settings.home_sub_heading | safe }}</div>
				<div class="cta">
					<a class="getstarted-button" href="/subscribe" data-barley="index_cta_main" data-barley-editor="linkedit">Get Started</a>
				</div>
			</div>
		</div>
	</div>
	<!--End Custom Banner-->
			
	<!--Added Custom Intro-->	   	
	<div class="intro-container">
		<div class="container">
			<div data-barley="home_hiw_title" data-barley-editor="plus" class="heading">
				<h2>How it works</h2> 
			</div>
			<div class="paragraph" data-barley="home_hiw_sub_heading" data-barley-editor="advanced">{{ settings.hiw_sub_heading | safe }}</div>
		</div>
	</div>
	<!--End Custom Intro--> 
		
	<!--Added BS Jumbotron Promos-->
	<div class="main-promos">
		<div class="container">
			<div class="row promos">
				<div class="col-md-4">
					<div class="promo-border">
						<div data-barley="home_step1_title" data-barley-editor="plus" class="heading">
							<h2>Step 1</h2>
						</div>
						<div class="promo-img" style="background-image: url('{{ settings.promo1_img | asset_url }}');" data-barley="promo1_img" data-barley-editor="bgimage" data-width="248" data-height="74">&nbsp;
						</div>
						<div class="paragraph" data-barley="home_step1_subtitle" data-barley-editor="advanced">{{ settings.step1_title | safe }}</div>
						<div class="sml-promo-text paragraph" data-barley="hiw_step1_desc" data-barley-editor="advanced">{{ settings.step1_desc | safe }}</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="promo-border">
						<div data-barley="home_step2_title" data-barley-editor="plus" class="heading">
							<h2>Step 2</h2>
						</div>
						<div class="promo-img" style="background-image: url('{{ settings.promo2_img | asset_url }}');" data-barley="promo2_img" data-barley-editor="bgimage" data-width="160" data-height="108">&nbsp;
						</div>
						<div class="paragraph" data-barley="home_step2_subtitle" data-barley-editor="advanced">{{ settings.step2_title | safe }}</div>
						<div class="sml-promo-text paragraph" data-barley="hiw_step2_desc" data-barley-editor="advanced">{{ settings.step2_desc | safe }}</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="promo-border">
						<div data-barley="home_step3_title" data-barley-editor="plus" class="heading">
							<h2>Step 3</h2>
						</div>
						<div class="promo-img" style="background-image: url('{{ settings.promo3_img | asset_url }}');" data-barley="promo3_img" data-barley-editor="bgimage" data-width="145" data-height="148">&nbsp;
						</div>
						<div class="paragraph" data-barley="home_step3_subtitle" data-barley-editor="advanced">{{ settings.step3_title | safe }}</div>
						<div class="sml-promo-text paragraph" data-barley="hiw_step3_desc" data-barley-editor="advanced">{{ settings.step3_desc | safe }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--End BS Jumbotron Promos-->
	
	{% if settings.seenin_img1 or settings.seenin_img2 or settings.seenin_img3 or settings.seenin_img4 %}
	<!--Added Logos-->
	<div class="seenin-logos-container">
		<div class="container">
			<div class="row">
				<div data-barley="home_asseenin_title" data-barley-editor="plus" class="heading">
					<h3>As Seen In</h3>
				</div>

				{% if settings.seenin_img1 %}
					<div class="col-md-3 seenin-logo" data-barley="home_seenin_img1" data-barley-editor="image" data-width="160" data-height="17">
						<img src="{{ settings.seenin_img1 | asset_url }}" />
					</div>
				{% endif %}
				{% if settings.seenin_img2 %}
					<div class="col-md-3 seenin-logo" data-barley="home_seenin_img2" data-barley-editor="image" data-width="167" data-height="31">
						<img src="{{ settings.seenin_img2 | asset_url }}" />
					</div>
				{% endif %}
				{% if settings.seenin_img3 %}
					<div class="col-md-3 seenin-logo" data-barley="home_seenin_img3" data-barley-editor="image" data-width="167" data-height="40">
						<img src="{{ settings.seenin_img3 | asset_url }}" />
					</div>
				{% endif %}
				{% if settings.seenin_img4 %}
					<div class="col-md-3 seenin-logo" data-barley="home_seenin_img4" data-barley-editor="image" data-width="167" data-height="29">
						<img src="{{ settings.seenin_img4 | asset_url }}" />
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<!--End Logos-->
	{% endif %}
</div>

{% endblock %}
