#[[COMPONENT_ID]] {

}

#[[COMPONENT_ID]] .hero-content {
	background-color: {{ settings['[[COMPONENT_ID]]/content_background_color'] }};
	padding: 0;
}

#[[COMPONENT_ID]] .hero-content h1 {
	color: {{ settings['[[COMPONENT_ID]]/heading_1/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_1/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_1/font_size'] }};
}

#[[COMPONENT_ID]] .hero-content h2 {
	color: {{ settings['[[COMPONENT_ID]]/heading_2/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_2/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_2/font_size'] }};
	padding-bottom: 1em;
}

#[[COMPONENT_ID]] .hero-content h3 {
	color: {{ settings['[[COMPONENT_ID]]/heading_3/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_3/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_3/font_size'] }};
}

#[[COMPONENT_ID]] .hero-content p {
	color: {{ settings['[[COMPONENT_ID]]/body/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/body/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/body/font_size'] }};
}

#[[COMPONENT_ID]] .hero-content .btn {
	background-color: {{ settings['[[COMPONENT_ID]]/button/color'] }};
	color: {{ settings['[[COMPONENT_ID]]/button/text_color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/button/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/button/font_size'] }};
}

#[[COMPONENT_ID]] .hero-content .btn:hover {
	background-color: {{ settings['[[COMPONENT_ID]]/button/hover_color'] }};
	color: {{ settings['[[COMPONENT_ID]]/button/hover_text_color'] }};
}


