#[[COMPONENT_ID]] {
	background-color: {{ settings['[[COMPONENT_ID]]/background_color'] }};
	padding-top: 20px;
	padding-bottom: 20px;
}

#[[COMPONENT_ID]] h1 {
	color: {{ settings['[[COMPONENT_ID]]/heading_1/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_1/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_1/font_size'] }};
}

#[[COMPONENT_ID]] h2 {
	color: {{ settings['[[COMPONENT_ID]]/heading_2/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_2/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_2/font_size'] }};
}

#[[COMPONENT_ID]] h3 {
	color: {{ settings['[[COMPONENT_ID]]/heading_3/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_3/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_3/font_size'] }};
}

#[[COMPONENT_ID]] p {
	color: {{ settings['[[COMPONENT_ID]]/body/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/body/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/body/font_size'] }};
}
