<section id="[[COMPONENT_ID]]" class="component-three-column-feature">
	<div class="container-fluid">

		<div class="content-row row">
			<div class="col-md-3 col-xs-12 content flex-center text-center">
				{{ settings["[[COMPONENT_ID]]/title_1"] }}
				<hr>
				{{ settings["[[COMPONENT_ID]]/subtitle_1"] }}
				{{ settings["[[COMPONENT_ID]]/feature_1"] }}
			</div>

			<div class="col-md-3 col-xs-12 content flex-center text-center">
				{{ settings["[[COMPONENT_ID]]/title_2"] }}
				<hr>
				{{ settings["[[COMPONENT_ID]]/subtitle_2"] }}
				{{ settings["[[COMPONENT_ID]]/feature_2"] }}
			</div>

			<div class="col-md-3 col-xs-12 content flex-center text-center">
				{{ settings["[[COMPONENT_ID]]/title_3"] }}
				<hr>
				{{ settings["[[COMPONENT_ID]]/subtitle_3"] }}
				{{ settings["[[COMPONENT_ID]]/feature_3"] }}
			</div>
		</div>
		
	</div>
</section>
