#[[COMPONENT_ID]] {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
#[[COMPONENT_ID]] .component-rich-text-with-button__content-row,
#[[COMPONENT_ID]] .component-rich-text-with-button__button-row {
	padding: 10px 0;
}
