<!-- product_loop is the jinja for loop variable -->
<!-- The following code snippet determines bootstrap column widths -->
{% if product_loop.length in [4,8] %}
    {% set col_width = 'col-lg-3' %}
{% elif product_loop.length in [3,5,6,7] %}
    {% set col_width = 'col-md-4' %}
{% endif %}
<section class="plan text-center col-centered col-xs-10 col-xs-offset-0 col-sm-offset-0 col-sm-6 {{ col_width }}">
  <figure class="circle has-overlay">
    <div class="product_image_container" data-barley="{% if gift %}gift.{% endif %}product.{{ product.id }}.img" data-barley-editor="image">
        {{ product | object_img_tag(default_img_path="images/term1.png", css_class="img-responsive product-img circle-crop") }}
    </div>
    <a href="{{ product | product_subscribe_url(gift=gift) }}" class="overlayer overlayer-hide text-center lt-desc-grp"></a>
    <a href="{{ product | product_subscribe_url(gift=gift) }}" class="overlayer-hide select-txt">Click to select <i class="icon fa fa-angle-right"></i></a>
  </figure>
  <a href="{{ product | product_subscribe_url(gift=gift) }}" data-barley="{% if gift %}gift.{% endif %}product.{{ product.id }}.name" data-barley-editor="linkedit" class="heading strong sm-heading-grp">{{ product.name | safe }}</a>
  <p data-barley="{% if gift %}gift.{% endif %}product.{{ product.id }}.description" data-barley-editor="simple">{{ product.description | safe }}</p>
  <hr>

  {{ product | get_price_or_price_range }}

  <p class="sml-text"> {{ product | ship_option }} </p>
  <div class="visible-xs visible-sm">
    <a type="button" href="{{ product | product_subscribe_url(gift=gift) }}" data-barley="{% if gift %}gift.{% endif %}btn_text.{{ product.id }}" data-barley-editor="linkedit" class="btn btn-success lt-btn-grp">SUBSCRIBE</a>
  </div>
    <div class="visible-xs">
  <br/><br/>
  </div>
</section>
