<section class="plan text-center col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
  <figure class="circle has-overlay">
    <div data-barley="{% if gift %}gift.{% endif %}upsell_1_img" data-barley-editor="image">
      <img src="{{ 'images/plan-1.jpg' | asset_url }}" alt="">
    </div>
    <a href="#" class="overlayer text-center" data-barley="{% if gift %}gift.{% endif %}upsell_1_link" data-barley-editor="link">Click to select <i class="icon fa fa-angle-right"></i></a>
  </figure>
  <p class="price" data-barley="{% if gift %}gift.{% endif %}upsell_1_price" data-barley-editor="simple">+ $5.99</p>
  <h4 class="heading strong" data-barley="{% if gift %}gift.{% endif %}upsell_1_heading" data-barley-editor="simple">Light Upgrade</h4>
  <p data-barley="{% if gift %}gift.{% endif %}upsell_1_desc_1" data-barley-editor="simple">Morbi malesuada, est vitae</p>
  <hr>
  <p data-barley="{% if gift %}gift.{% endif %}upsell_1_desc_2" data-barley-editor="simple">tincidunt volutpat mauris</p>
  <a href="#" type="button" class="btn btn-success fullsize visible-sm visible-xs" data-barley="{% if gift %}gift.{% endif %}upsell_1_cta_link" data-barley-editor="link">ADD LIGHT UPGRADE</a>
</section>
<section class="plan text-center col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
  <figure class="circle has-overlay">
    <div data-barley="{% if gift %}gift.{% endif %}upsell_2_img" data-barley-editor="image">
      <img src="{{ 'images/plan-1.jpg' | asset_url }}" alt="">
    </div>
    <a href="#" class="overlayer text-center" data-barley="{% if gift %}gift.{% endif %}upsell_2_link" data-barley-editor="link">Click to select <i class="icon fa fa-angle-right"></i></a>
  </figure>
  <p class="price" data-barley="{% if gift %}gift.{% endif %}upsell_2_price" data-barley-editor="simple">+ $5.99</p>
  <h4 class="heading strong" data-barley="upsell_2_heading" data-barley-editor="simple">Light Upgrade</h4>
  <p data-barley="{% if gift %}gift.{% endif %}upsell_2_desc_1" data-barley-editor="simple">Morbi malesuada, est vitae</p>
  <hr>
  <p data-barley="{% if gift %}gift.{% endif %}upsell_2_desc_2" data-barley-editor="simple">tincidunt volutpat mauris</p>
  <a href="#" type="button" class="btn btn-success fullsize visible-sm visible-xs" data-barley="{% if gift %}gift.{% endif %}upsell_2_cta_link" data-barley-editor="link">ADD LIGHT UPGRADE</a>
</section>
<section class="plan text-center col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
  <div class="circle empty" data-barley="{% if gift %}gift.{% endif %}upsell_3_heading" data-barley-editor="simple">No upgrade</div>
  <a type="button" class="btn btn-success fullsize visible-sm visible-xs" data-barley="{% if gift %}gift.{% endif %}upsell_3_cta_link" data-barley-editor="link">NO UPGRADE FOR ME</a>
</section>
