
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

sup {
	font-size: 0.83em;
	line-height: 0;
	vertical-align: super;
}

sub {
	font-size: 0.83em;
	line-height: 0;
	vertical-align: sub;
}

b, strong{
	font-weight: bold;
}

i, em{
	font-style: italic;
}

a{
	color: {{ settings.color_link }};

}

a:hover{
	color: {{ settings.color_link }};
}

p, .paragraph {
	color: {{ settings.color_body_text }}
}

/* End of Meyer Reset CSS */

@font-face {
  font-family: 'Lato-Light';
  src: url("{{ 'fonts/Lato-Light.eot' | asset_url }}");
  src: url("{{ 'fonts/Lato-Light.eot' | asset_url }}?#iefix") format('embedded-opentype'), url("{{ 'fonts/Lato-Light.woff' | asset_url }}") format('woff'), url("{{ 'fonts/Lato-Light.ttf' | asset_url }}") format('truetype'), url("{{ 'fonts/Lato-Light.svg' | asset_url }}#Lato-Light") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PermanentMarker';
  src: url("{{ 'fonts/PermanentMarker.eot' | asset_url }}");
  src: url("{{ 'fonts/PermanentMarker.eot' | asset_url }}?#iefix") format('embedded-opentype'), url("{{ 'fonts/PermanentMarker.woff' | asset_url }}") format('woff'), url("{{ 'fonts/PermanentMarker.ttf' | asset_url }}") format('truetype'), url("{{ 'fonts/PermanentMarker.svg' | asset_url }}#PermanentMarker") format('svg');
  font-weight: normal;
  font-style: normal;
}



/*----------------------GLOBALS/HOMEPAGE---------------------- */

body {
	background-color: #FFF;
	color: {{ settings.color_body_text }};
	font-family: {{ settings.face_body_text }};
}

a {
	font-family: {{ settings.face_link }};
	color: {{ settings.color_link }};
}

h1 {
	font-size: 46px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}


.sml-promo-text {
	display: none!important;
}

.utility-nav {
    float:right;
    position:relative;
    z-index: 10;
    margin-right: 15px;
    margin-top: 15px;
}

.utility-nav a {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 11px;
}

.utility-nav span {
	font-weight: 300;
	text-transform: uppercase;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 11px;
}

.bs-header .container {
    z-index: 1;
    position: relative;
}

.navbar-toggle {
	background-color: #666666;

}

.navbar .navbar-collapse {
	min-height: 125px;
	margin-bottom: 0!important;
}

.navbar-collapse ul li a {
	font-size: 14px;
	font-weight: 100;
	height: 22px;
	padding-bottom: 22px;
	padding-left: 0;
	padding-right: 0;
	margin-left: 55px;
}

.navbar-collapse ul li a:hover {
	background-color: transparent;
	border-bottom: 1px solid {{ settings.color_link }};
}

.on-state {
	background-color: transparent!important;
	border-bottom: 1px solid {{ settings.color_body_text }}!important;
}

.navbar-static-top {
	margin-bottom: 0!important;
	min-height: 125px;
}

.bs-header .navbar-brand {
	font-size: 22px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	line-height: 52px;
}

.bs-header .navbar-brand span {
    display: inline-block;
    padding-top: 15px;
}

.banner-container {
	width: 100%;
}

.banner {
	background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}


.banner .heading {
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 100px;
	line-height: 52px;
	width: 650px;
}

.banner .paragraph {
	font-size: 18px;
	font-weight: 300;
	margin-top: 25px;
    margin-bottom:40px;
}

.cta {
	float: left;
    margin-bottom: 90px;
}

.cta a {
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 300;
	padding: 15px 42px 13px 42px;
	float: left;
	margin-top: 25px;
}

.cta a:hover {
	text-decoration: none;
}

.cta .getstarted-button {

}

.cta .gift-button {
	margin-left: 30px;
}

.intro-container {
	padding-top: 45px;
	margin-bottom: 55px;
}

.intro-container .heading {
	text-align: center;
	margin-bottom: 35px;
}

.intro-container .paragraph {
	font-size: 18px;
	font-weight: 100;
	text-align: center;
	line-height: 20px;
	width: 75%;
	margin: 0 auto;
}

.main-promos {
	width: 100%;
	background-image: url({{ 'images/bedge_grunge.png' | asset_url }});
	margin-bottom: 40px;
	padding-bottom: 40px;
}

.main-promos .heading {
	text-align: center;
	padding-top: 40px;
}

.main-promos .paragraph {
	text-align: center;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: 100;
}

.promos {
	padding-top: 60px;
}

.main-promos .promo-border {
	border: solid 5px #FFF;
	margin-bottom: 20px;
}

.promo-img {
	background-position: center center;
    background-repeat: no-repeat;
	width: 100%;
	height: 240px;
	text-align: center;
	line-height: 240px;
	vertical-align: middle;
}

.seenin-logos-container {
	width: 100%;
	padding-bottom: 100px;
}

.seenin-logo {
	text-align: center;
}

.seenin-logos-container .heading h3 {
	margin-top: 40px;
	margin-bottom: 70px;
    font-size: 18px;
	text-align: center;
}

.bs-footer .submit-button {
	height: 27px;
}

.bs-footer .heading {

}

.bs-footer .heading h3 {
    font-size:18px;
}

.bs-footer a.getstarted-button {
    border: 1px solid #FFF;
    margin-top:15px;
    margin-left:55px;
}

.sub-footer {
    margin-top: -15px;

}
.sub-footer .copyright {
    font-size: 11px;
    float:left;
    padding-top:50px;
    margin-left: 20px;
}

.sub-footer .powered-by-cratejoy {
    float:right;
    margin-right: 20px;
}
.sub-footer .powered-by-cratejoy img {
    margin-bottom:-3px;
}
.sub-footer .clear {
    clear: both;
}

footer .heading {
	text-align: center;
	margin-bottom: 10px;
}

footer .row {
	padding-top: 40px;
	padding-bottom: 13px;
}

footer .paragraph {
	text-align: center;
	font-size: 13px;
	font-weight: 300;
	line-height: 19px;
}

footer .col-md-4 {
	height: 82px!important;
	border-right: 2px solid #FFF;
	margin-bottom: 20px;
}

footer .col-md-4:nth-child(3) {
	border: none!important;
}
.facebook-icon {
	background: url({{ 'images/common/facebookicon.png' | asset_url }}) no-repeat center center;
	width: 10px;
	height: 22px;
}

.twitter-icon {
	background: url({{ 'images/common/twittericon.png' | asset_url }}) no-repeat center center;
	width: 23px;
	height: 19px;
}

.pinterest-icon {
	background: url({{ 'images/common/pinteresticon.png' | asset_url }}) no-repeat center center;
	width: 19px;
	height: 23px;
}

.instagram-icon {
	background: url({{ 'images/common/instagramicon.png' | asset_url }}) no-repeat center center;
	width: 21px;
	height: 21px;
}

.social-media {
	margin-left: 4px;
	margin-right: 15px;
	margin-top: 5px;
}

.social-media:nth-child(4) {
	margin-right: 0;
}

.social-media-container {
	margin:  0 auto;
	text-align: center;
}

.social-media-container a {
	display: inline-block;
}

footer form {
	margin: 0 auto;
	width: 240px;
}

.text-input {
	width: 180px;
	border: 1px solid #FFF;
	float: left;
	height: 27px;
	margin-top: 5px;
}

.text-input::-webkit-input-placeholder {
	color: #FFF;
}

.text-input::-ms-input-placeholder {
	color: #FFF;
}

.text-input:-moz-placeholder {
	color: #FFF;
}

.text-input::-moz-placeholder {
	color: #FFF;
}

.submit-button {
	border: none;
	float: left;
	color: #FFF;
	margin-top: 5px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 300;
}

.submit-button:hover {
    color: #FFF;
}

footer input {
	padding-left: 5px;
	color: #FFF;
	font-family: {{ settings.face_body_text }};
	font-size: 12px;
}

/*----------------------FORMS---------------------- */

.form-container {
	font-family: {{ settings.face_body_text }};
	padding: 30px 0;
}

.simple-form {
	background-color: #FFF;
	padding: 28px;
	width: 100%;
	margin-bottom: 30px;
	border: 5px solid {{ settings.color_large_heading }};
}

.simple-form h3 {
	color: #666666;
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 8px;
}

label {
	font-size: 14px;
	font-weight: 300;
	color: #666666;
	margin-bottom: 10px;
	margin-top: 20px;
}

input {
	color: #666666;
	font-size: 14px;
	font-weight: 300;
	padding-left: 5px;
	border: 1px solid;
}

.simple-form input {
	width: 100%;
	height: 30px;
}

.form-feedback {
	margin: 20px auto;
  	width: 50%;
  	line-height: 31px;
    font-size: 18px;
    text-align: center;
    color: white;
	border: 1px solid #B3A367;
}

.form-feedback p {
	padding: 20px 0;
}

.form-feedback:empty {
	border: none;
}

.checkout_content select {
	border: 1px solid;
}

/*----------------------SUBSCRIPTION PAGE---------------------- */


.subscription-options {
	width: 100%;
	padding-bottom: 40px;
	background-image: url({{ 'images/bedge_grunge.png' | asset_url }});
	padding-top: 60px;
}

/*changed 12/17*/

.subscription-options .heading {
	text-align: center;
	line-height: 28px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.subscription-options p {
	text-align: center;
	padding-bottom: 0;
	font-size: 20px;
	font-weight: 100;
}

/*^changed 12/17*/

.previous-container .paragraph {
	text-align: center;
	padding-bottom: 20px;
	font-size: 18px;
	font-weight: 100;
}

.subscription-options .promo-border {
	border: solid 5px {{ settings.color_large_heading_light }};
	margin-bottom: 20px;
}

.headline {
    width: 100%;
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headline-container {
	width: 100%;

}

.headline-container .row {
	padding-top: 20px;
	margin-bottom: 10px;
}

.headline-container .step {
	border-top: 1px solid {{ settings.color_large_heading }};
	border-bottom: 1px solid {{ settings.color_large_heading }};
	background-color: transparent;
}

.headline-container .step-arrow {
	top: -2px;
	left: -1px;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 18px solid {{ settings.color_large_heading }};
	color: {{ settings.color_large_heading }};
}

.headline-container .step-arrow:after {
	content: "";
	position: absolute;
	top: -23px;
	left: -18px;
	width: 0;
	height: 0;
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
	border-left: 17px solid #FFF;
}

.headline-container .step.selected + .step .step-arrow:after {
	display: none;
}

.headline-container .step.selected + .step .step-arrow.end:after {
	display: block;
}

.headline-container .step-arrow.end {
	left: inherit;
	right: -17px;
}

.headline-container .step.selected .step-arrow.end:after {
	display: none;
}


.headline-container .step.chosen p:before {
	content:"\2713 ";
	padding-right: 10px;
}

.headline-container .step.selected {
	background-color: {{ settings.color_large_heading }}!important;
}

.headline-container .step.selected p {
	color: {{ settings.color_large_heading_light }}!important;
	font-weight: 300!important;
}

.headline-container .heading {
	padding-top: 25px;
	text-align: center;
	margin-bottom: 40px;
}

.headline-container p, .headline-container .paragraph {
	font-weight: 100;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	line-height: 31px;
	font-size: 20px;
}

.headline-container .paragraph {
    font-size: 16px;
    line-height: 22px;
    margin-bottom:40px;
}


.headline-container .step p {
	padding-top: 7px;
	padding-bottom: 8px;
}

/*changed 12/17*/

.product_image_container {
	height: 180px;
	line-height: 180px;
	vertical-align: middle;
	text-align: center;
    margin-bottom:10px;
}

.product_image {
	margin: 0px auto;
	max-width: 360px;
	max-height: 180px;
}

.subscription-img1 {
	width: 100%;
	height: 202px;
}

.subscription-img2 {
	width: 100%;
	height: 202px;
}

.subscription-img3 {
	width: 100%;
	height: 202px;
}

.subscription-img4 {
	width: 100%;
	height: 202px;
}

/*^changed 12/17*/

.previous-boxes-container {
	width: 100%;
	background-color: #FFF;
}

.previous-container .previous-img1 {
	background-position: center top;
    background-repeat: no-repeat;
	height: 233px;
	width: 100%;
    text-align:center;
}

.previous-container .previous-img2 {
	background-position: center top;
    background-repeat: no-repeat;
	height: 233px;
	width: 100%;
    text-align:center;
}

.previous-container .previous-img3 {
	background-position: center top;
    background-repeat: no-repeat;
	height: 233px;
	width: 100%;
    text-align:center;
}

.previous-boxes-title {
	width: 100%;
	background-color: #FFF;
	padding-top: 40px;
	padding-bottom: 40px;
}

.previous-boxes-title h3 {
	text-align: center;
	font-size: 22px;
}

.previous-boxes-title .paragraph {
	padding-top: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}

.previous-container {
	height: 370px;
	padding-top: 50px;
}

/*SUBPG-ADDED 12/17*/

.sml-text {
	font-size: 14px!important;
	padding-top: 5px;
	margin-bottom: 25px;
}

.select-button-container {
	width: 136px;
	margin: 0 auto;
    margin-bottom: 30px;
	text-align: center;

}

.select-button-container button, .select-button-container a, .primary-button {
	font-size: 17px;
	font-weight: 300;
    min-width: 200px;
    min-height: 50px;
	text-transform: uppercase;
	padding: 7px 35px 7px 35px;
	border: none;
}

.select-button-container button:hover, .select-button-container a:hover, .primary-button:hover {
	text-decoration: none;
}

/*END SUBPG-ADDED 12/17*/

.headline-container .row {
	padding-top: 35px;
	margin-bottom: 35px;
	width: 95%;
	margin: 0 auto;
}

/*----------------------HOW IT WORKS PAGE---------------------- */

.how-it-works {
	padding-bottom: 100px;
	font-family: {{ settings.face_body_text }};
	font-size: 14px;
	font-weight: 100;
    line-height:21px;
	color: {{ settings.color_body_text }};
}

.how-it-works .paragraph {
	line-height: 28px;
	padding-top: 10px;
}

.hiw-side-promo {
	background-color: #FFF;
	padding-top: 24px;
	padding-left: 28px;
	padding-right: 28px;
	padding-bottom: 18px;
	color: {{ settings.color_body_text }};
    border: solid 5px {{ settings.color_large_heading }};
}

.hiw-side-promo .paragraph {
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	padding-top: 10px;
	padding-bottom: 8px;
}


.hiw-side-promo button {
	color: white;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 7px 10px 7px 10px;
	margin-right: 5px;
	border: none;
}

.sml-gift-button {
	background-color: #666666;
}

.sml-start-button:hover {
	color: #FFF;
	text-decoration: none;
}

.sml-gift-button:hover {
	background-color: #F3EFE5;
	color: #666666;
	text-decoration: none;
}

/*----------------------ECOM------------------------------- */
ul.product_paging {
        display: inline-block;
        text-align: center;
        width: 100%;
}

ul.product_paging li {
        display: inline;
        padding: 0 5px 3px 5px;
        border-right: 1px solid #eee;
}

ul.product_paging li:first-child {
        border: none;
}

ul.product_paging li:last-child {
        border: none;
}

ul.product_paging li.active {
        background-color: #eee;
}

.select-button-container.ecom {
    width: auto;
}

.product-description {
    padding: 20px 0;
}

.product-options .control-group {
    min-height: 21px;
    margin: 10px 0;
}

.product-options label {
    font-weight: 600;
}

.product-options .ecom-add {
    float: right;
    clear: both;
    margin-top: 15px;
}

.product-options label {
    line-height: 21px;
    margin: 0;
    padding: 0;
}

.product-options select {
    font-size: 16px;
    width: 100%;
}

h2.product-ecom-name {
    font-weight: bold;
    font-size: 20px;
}

h3.price {
    margin: 15px 0 0 0;
}

fieldset.product-options {
    padding: 10px 0;
}

/*----------------------CUSTOMER EDIT PAGE---------------------- */

.error-container {
	padding-top: 20px;
}

/*----------------------CHECKOUT PAGE---------------------- */

.checkout-container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.summary-order-box {
	padding: 5px;
	float: left;
	width: 100%;
}

.checkout-side-promo-inside {
	float: left;
	padding: 26px;
	width: 100%;
}


.summary-order-box h3 {
	padding-bottom: 20px;
	float: left;
}

.summary-order-container {
	float: left;
	width: 100%;
}

.summary-order-container p {
	font-size: 16px;
	font-weight: 100;
	padding-top: 8px;
}

.summary-order-container a {
	float: left;
	clear: left;
	margin-top: 20px;
	margin-bottom: 12px;
	font-size: 16px;
	padding: 9px 14px 9px 14px;
}

.summary-order-container a:hover {
	text-decoration: none;
}

.left-type {
	float: left;
	clear: left;

}

.right-type {
	float: right;

}

.styled-select select {
   background: transparent;
   width: 162px;
	font-size: 16px;
   border: 1px solid #ccc;
   height: 32px;
}

.styled-select  {
   width: 162px;
   height: 32px;
   overflow: hidden;
   background: url({{ 'images/select-box.gif' | asset_url }}) no-repeat right #fff;
   position: relative;
   float: right;
}

.styled-select span {
	position: absolute;
	top: 9px;
	left: 8px;
	font-size: 14px !important;
	font-weight: 300;
}

.summary-order-container select {
	opacity: 0;
}

.styled-select option {
	background-color: #F7F1E5;
	font-size: 14px;
	font-weight: 300;
	padding-top: 3px;
	padding-bottom: 3px;
}

.total {
	font-size: 20px!important;
	font-weight: 300!important;
}

.summary-order-container form {
	float: left;
}

.coupon-container {
	width: 100%;
	float: right;
	margin-top: 15px;
}

.summary-order-container #coupon-form {
	width: 200px;
}

.summary-order-container #coupon-submit {
	margin-left: -4px;
	margin-top: -1px;
	border: none;
	height: 30px;
	font-size: 16px;
	padding-left: 7px;
	padding-right: 7px;
	line-height: 30px;
}

.summary-order-container #coupon-submit:hover {
	text-decoration: none;
}

.checkout-container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.checkout_content section h3 {
	margin-bottom: 15px;
	border-bottom: 8px solid #e7e7e7;
}

.checkout_content .left-col {
	border: 2px solid #e7e7e7;
}

.cart_listing .item_table, .cart_listing .price_table {
	border-bottom: 8px solid #e7e7e7;
}

#total_row {
	border-top: 2px solid #e7e7e7;
}

#add_coupon_code {
	border: none;
}

#add_coupon_code:hover {
	text-decoration: none;
}

.checkout_content label {
	color: #b2b2b2;
}

.checkout-side-promo-inside {
	border: 1px solid;
	float: left;
	padding: 26px;
	width: 100%;
}

.checkout_content .coupon_section {
	padding: 20px 0;
}

.checkout-form {
	padding: 28px;
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

.checkout-form h3 {
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 8px;
}

.checkout-form label {
	font-size: 14px;
	font-weight: 100;
	margin-bottom: 10px;
	margin-top: 20px;
}

.checkout-form input {
	font-size: 14px;
	font-weight: 300;
	padding-left: 5px;
}

.control-group a.forgot-signup {
    margin-top: 16px;
    float: right;
    text-align: right;
    padding-right: 0px;
}

#checkout-submit-button {
	color: #FFF;
	font-size: 16px;
	border: none;
	padding: 8px 35px 7px 35px;

}

.checkout_content .ship_to {
    margin-bottom:20px;
}

/*----------------------MEDIA QUERIES---------------------- */


@media (max-width: 1200px) {

	.summary-order-container #coupon-form {
		width: 145px;
	}

}

@media (max-width: 990px) {

	.navbar-collapse ul li a {
		margin-left: 20px;
	}

	footer .col-md-4 {
		border: none;
	}

	.headline-container .step-arrow.after {
		top: -2px;
		right: -17px;
		left: inherit;
		position: absolute;
		width: 0;
		height: 0;
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 18px solid;
	}

	.headline-container .step-arrow.after:after {
		content: "";
		position: absolute;
		top: -23px;
		left: -18x;
		width: 0;
		height: 0;
		border-top: 23px solid transparent;
		border-bottom: 23px solid transparent;
		border-left: 17px solid #FFF;
	}

	.headline-container .step.selected .step-arrow.after:after {
		display: none;
	}

	.headline-container .step.selected + .step .step-arrow:after {
		display: block;
	}

	.headline-container .step-arrow.end {
		left: inherit;
		right: -17px;
	}

	.headline-container .step.selected .step-arrow.end:after {
		display: none;
	}

	.previous-container {
		height: 233px;
		margin-top: 25px;
		margin-bottom: 20px;
	}

	.previous-boxes-container .row {
		margin-bottom: 125px;
	}

	.how-it-works {
		padding-bottom: 25px;
	}

	.hiw-side-promo {
		margin-bottom: 50px;
	}

	.summary-order-container form {
		float: right;
	}

	.summary-order-container .coupon-container {
		width: 212px;
		float: right;
	}

	.coupon-container {
		margin-top: 0;
	}

	.checkout_content .form_holder {
		float: none;
		width: 100%;
		margin: 10px auto;
	}

	.checkout_content .form-group label{
		width: 100%;
		float: none;
		margin: 0 auto;
	}

	.checkout_content select {
		width: 100%;
	}

	#inputunit {
		margin-top: -15px;
	}

	#inputcity {
		margin-top: -12px;
	}

	#inputzip_code {
		width: 100%;
		float: left;
	}

	.checkout_content .col-md-10 {
		width: 100% !important;
	}

	.checkout_content .form-group .col-md-5 {
		float: none;
		width: 100%;
	}

	#checkout_button {
		width: 75%;
	}

	.account-panel {
		clear: both
	}

	.user_profile_account {
		width: 100%;
		padding: 0;
		margin-top: 10px;
	}

    .seenin-logo {
        margin-bottom: 30px;
    }

    .bs-footer .cta {
        text-align: center;
        width: 100%;
    }

    .bs-footer a.getstarted-button {
        margin-right: auto;
        margin-left: auto;
        float: none;
    }

}


@media (max-width: 767px) {

	.utility-nav {
		display: none;
	}

	.navbar-right {
		margin-top: 0!important;
		margin-bottom: 30px;
	}

	.bs-header .navbar-header {
		min-height: 110px;
	}

	.navbar-toggle {
		background: url({{ 'images/nav-toggle.png' | asset_url }}) no-repeat center center;
		margin-top: 20px;
		margin-right: 0;
	}

	.cta {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-collapse {
        display: table-cell!important;
        vertical-align: middle;
    }

    .navbar-static-top {
        display: table;
        width: 100%;
    }

    .bs-header .navbar-header {
        display:table-cell;
        float:none;
        vertical-align:middle;
    }

    .navbar-right {
        height: 40px;
    }

    .bs-header .navbar-brand span {
        display: inline-block;
        padding-top: 0px;
    }

}

@media (max-width: 670px) {
	.banner {
		background-image: url({{ 'images/banner-mobile.jpg' | asset_url }});
	}

	.banner h1 {
		width: 97%;
		text-align: center;
	}

	.banner .paragraph {
		text-align: center;
		width: 99%;
	}

	.cta {
		text-align: center;
		width: 100%;
	}

	.cta a {
		float: none;
		display: inline-block;
		margin-left: 0px !important;
		margin-right: 30px;
	}
}

@media (max-width: 520px) {
	.cta a {
		display: inline-block;
		clear: both;
		width: 100%;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

    .sub-footer {
        text-align: center;
    }
    .sub-footer .copyright {
        float:none;
        padding-top:0px;
        margin-left:0px;
        margin-bottom: 20px;
    }

    .sub-footer .powered-by-cratejoy {
        float:none;
        margin-right:0px;
    }

}

@media (max-width: 470px) {

	.banner p {
		display: none;
	}

	.bs-header .navbar-brand {
		width: 300px;
		padding-top: 15px;
		padding-bottom: 10px;
	}

	.banner .heading {
		width: 100%;
		text-align: center;
	}

	.summary-order-container form {
		float: left;
	}

	.summary-order-container .coupon-container {
		float: left;
	}

	.coupon-container {
		margin-top: 15px;
	}

}


@media (max-width: 340px) {
	.bs-header .navbar-brand {
		padding-top: 27px;
		margin-bottom: 10px;
	}

	.bs-header .navbar-header {
		min-height: 85px;
	}

	.nav .navbar-nav .navbar-right {
		border: none!important;
	}

	.hiw-side-promo a {
		font-size: 11px;
	}

	.navbar-toggle {
		margin-top: 25px;
	}

}

#preview-mode-banner {
    z-index: 10;
}

.logo-grp, logo-grp:hover {
	color: {{ settings.color_logo }};
	font-family: {{ settings.face_logo }};
	text-decoration: none;
}

.large-light-grp {
	color: {{ settings.color_large_heading_light }};
	font-family: {{ settings.face_large_heading }};
}

.large-grp {
	color: {{ settings.color_large_heading }};
	font-family: {{ settings.face_large_heading }};
}

.secondary-grp {
	color: {{ settings.color_secondary_heading }};
	font-family: {{ settings.face_secondary_heading }};
}

.small-grp, .small-grp:hover {
	color: {{ settings.color_small_heading }};
	font-family: {{ settings.face_small_heading }};
}

.small-light-grp {
	color: {{ settings.color_small_heading_light }};
	font-family: {{ settings.face_small_heading }};
}

.button-grp, .checkout_button, .btn {
	background-color: {{ settings.color_button }};
	font-family: {{ settings.face_button }};
	color: {{ settings.color_button_text }};
}

.button-grp:hover, .checkout_button:hover, .btn:hover {
	background-color: {{ settings.color_button_hover }};
	color: {{ settings.color_button_text }};
}

.secondary-button-grp, #add_coupon_code {
	background-color: {{ settings.color_secondary_button }};
	color: {{ settings.color_secondary_button_text }};
	font-family: {{ settings.face_secondary_button }};
}

.secondary-button-grp:hover, #add_coupon_code:hover {
	background-color: {{ settings.color_secondary_button_hover }};
	color: {{ settings.color_secondary_button_text }};
}

.nav-link-grp, .nav-link-grp a,
.nav-link-grp:hover, .nav-link-grp a:hover {
	color: {{ settings.color_nav_link }};
	font-family: {{ settings.face_nav_link }};
}

.body-grp {
	color: {{ settings.color_body_text }};
	font-family: {{ settings.face_body_text }};
}

.body-light-grp {
	color: {{ settings.color_body_text_light }};
	font-family: {{ settings.face_body_text }};
}

.footer-grp {
	background-color: {{ settings.color_footer }};
}

.small-text-grp {
	font-family: {{ settings.face_small_text }};
	color: {{ settings.color_small_text }};
}

.form-input-grp {
	font-family: {{ settings.face_form_input }};
	color: {{ settings.color_form_input }};
}

.form-input-inverted-grp {
	font-family: {{ settings.face_form_input }};
	color: {{ settings.color_form_input_inverted }};
}

footer a {
	color: {{ settings.color_body_text_light }};
}

form#keep-in-touch, form#keep-in-touch input {
	background-color: transparent;
}

form#keep-in-touch input {
	border: 1px solid {{ settings.color_form_input_inverted }};
}
