<section id="[[COMPONENT_ID]]" class="component-captioned-image-col row square-row">
	{{ setting_helpers.image_tag("[[COMPONENT_ID]]/image_1", class_name="col-md-6 col-xs-12") }}

	<div class="col-md-6 col-xs-12 content flex-center">
		{{ settings["[[COMPONENT_ID]]/caption_1"] }}
	</div>

	{{ setting_helpers.image_tag("[[COMPONENT_ID]]/image_2", class_name="col-md-6 col-xs-12") }}

	<div class="col-md-6 col-xs-12 content flex-center">
		{{ settings["[[COMPONENT_ID]]/caption_2"] }}
	</div>
</section>
