{% extends "base.html" %}

{% block page_content %}

<!-- Feedback messages -->
{%- if result -%}
    <p>
    {{ result }}
    </p>
{%- endif -%}


<form action="/customer/password_reset" method="post" accept-charset="utf-8">
    <input name="email" type="email" {% if email %}value="{{ email }}"{% endif %} required="required" placeholder="email" >
    <input name="temporary_key" type="text" {% if temporary_key %}value="{{ temporary_key }}"{% endif %} placeholder="Reset Key" required="required" >
    <input name="password" type="password" required="required" placeholder="New Password">
    <input name="password2" type="password" required="required" placeholder="Repeat your new password">
    <button id="submit" name="submit">Submit</button>
</form>

{% endblock %}

