<section id="[[COMPONENT_ID]]" class="container-fluid">
	<div class="component-hero row" {{ setting_helpers.image_attributes('[[COMPONENT_ID]]/image') }}>
		<div class="col-xs-10 col-xs-offset-1">
			<div class="row component-hero__content-row">
				<div class="col-xs-12 text-center">
					{{ settings["[[COMPONENT_ID]]/content"] }}
				</div>
			</div>
			<div class="row component-hero__button-row">
				<div class="col-xs-12 text-center">
					<a type="button" class="btn btn-large btn-primary" href="{{ settings['[[COMPONENT_ID]]/button_url'] | default('#') }}">{{ settings["[[COMPONENT_ID]]/button_text"] }}</a>
				</div>
			</div>
		</div>
	</div>
</section>
