{% extends "base.html" %}

{% block page_content %}
<div class="fpanel">
  <div class="container">
    <h2 class="heading h-section text-center" data-barley="subscribe_heading" data-barley-editor="simple">Subscribe to Joy box </h2>
    
    <div id="subscriber">
      
        <!-- Indicators -->
        {% include "subscribe_flow/progress_bar.html" %}
        <!-- Wrapper for slides -->
        <div>
          {% if stage == "product" %}
            <div class="row row-centered">
            {% for product in store.visible_subscription_products %}
              {% set product_loop = loop %}
              {% include "subscribe_flow/product_grid_item.html" %}
            {% endfor %}
            </div>
          {% elif stage == "variants" %}
            <div class="row row-centered">
            {% for value in possible_values %}
              {% set variant_loop = loop %}
              {% include "subscribe_flow/variant_grid_item.html" %}
            {% endfor %}
            </div>
          {% elif stage == "terms" %}
            <div class="row row-centered">
            {% set num_enabled_terms = instance.calc_num_enabled_terms() %}
            {% for term_price in instance.term_prices %}
              <!-- Only show enabled terms -->
              {% if term_price.term.enabled %}
                {% set term_loop = loop %}
                {% include "subscribe_flow/term_grid_item.html" %}
              {% endif %}
              {% endfor %}
            </div>
          {% elif stage == "upsell" %}
            <h1 class="heading h-section text-center" data-barley="sub_upsell_heading" data-barley-editor="simple">Choose a Bonus</h1>
            <div class="row row-centered">
            {% include "subscribe_flow/upsell_grid_item.html" %}
            </div>
          {% endif %}
        </div>
      </div>
  </div>
</div>
{% endblock %}

