<div class="fpanel bg2">
  <div class="container">
    <table class="featured-in">
      <tbody>
        <tr>
          <td id="section-4" class="lrg-heading-grp" data-barley="cmpnt_featured_heading" data-barley-editor="simple">Featured in</td>
          <td>
            <div class="featured_logo_container" data-barley="cmpnt_featured_logo_1" data-barley-editor="image" data-width="125" data-height="46">
                <img src="{{ 'images/logo-amazon.png' | asset_url }}" class="img-responsive" />
            </div>
          </td>
          <td>
            <div class="featured_logo_container" data-barley="cmpnt_featured_logo_2" data-barley-editor="image" data-width="125" data-height="73">
                <img src="{{ 'images/logo-barnes.png' | asset_url }}" class="img-responsive" />
            </div>
          </td>
          <td>
            <div class="featured_logo_container" data-barley="cmpnt_featured_logo_3" data-barley-editor="image" data-width="254" data-height="80">
                <img src="{{ 'images/logo-nyt.png' | asset_url }}" class="img-responsive" />
            </div>
          </td>
          <td>
            <div class="featured_logo_container" data-barley="cmpnt_featured_logo_4" data-barley-editor="image" data-width="187" data-height="43">
                <img src="{{ 'images/logo-enterpreneur.png' | asset_url }}" class="img-responsive" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
