<div class="testimonials" data-barley="cmpnt_testimonials_bg_img" data-barley-editor="bgimage" data-width="1400" data-height="670" style="background-image: url({{ 'images/bg-testimonials.jpg' | asset_url }});">
  <div class="testimonials-overlay img-bnr-overlay-grp">
    <div class="container quote-grp">
      <div class="col-md-8 col-md-offset-2">
        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-testimonials" data-slide-to="0" class="quote-grp-indicators active"></li>
            <li data-target="#carousel-testimonials" data-slide-to="1" class="quote-grp-indicators"></li>
            <li data-target="#carousel-testimonials" data-slide-to="2" class="quote-grp-indicators"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <section class="testimonial item active">
              <p>&ldquo;<span data-barley="cmpnt_testimonial_1" data-barley-editor="simple">Every month we get a wonderful surprise in the mail from BookSea. I can't tell you how much it means to me.</span>&rdquo;</p>                  
              <footer>
                <span data-barley="cmpnt_testimonial_1_footer" data-barley-editor="simple">Anne Jones, Vancouver BC</span>
              </footer>
            </section><!-- /.item -->
            <section class="testimonial item">
              <p>&ldquo;<span data-barley="cmpnt_testimonial_2" data-barley-editor="simple">Every month we get a wonderful surprise in the mail from BookSea. I can't tell you how much it means to me.</span>&rdquo;</p>
              <footer>
                <span data-barley="cmpnt_testimonial_2_footer" data-barley-editor="simple">Anne Jones, Vancouver BC</span>
              </footer>
            </section><!-- /.item -->
            <section class="testimonial item">
              <p>&ldquo;<span data-barley="cmpnt_testimonial_3" data-barley-editor="simple">Every month we get a wonderful surprise in the mail from BookSea. I can't tell you how much it means to me.</span>&rdquo;</p>
              <footer>
                <span data-barley="cmpnt_testimonial_3_footer" data-barley-editor="simple">Anne Jones, Vancouver BC</span>
              </footer>
            </section><!-- /.item -->
          </div>
        </div><!-- /.carousel -->
      </div>
    </div><!-- /.container -->
  </div>
</div><!-- /.testimonials --> 
