<!-- The following code snippet determines bootstrap column widths -->
{% if num_enabled_terms in [2,8] %}
    {% set col_width = 'col-sm-6' %}
{% elif num_enabled_terms in [4] %}
    {% set col_width = 'col-sm-6 col-lg-3' %}
{% elif num_enabled_terms in [3,5,6,7] %}
    {% set col_width = 'col-sm-4' %}
{% endif %}

{% set term = term_price.term %}
<div class="col-centered col-xs-10 col-xs-offset-0 col-sm-offset-0 {{ col_width }}">
  <section class="box-selector box-subscribe">
    <h3 class="subheading secondary-invert-grp" data-barley="term.{{ term.id }}.name" data-barley-editor="simple">{{ term.name | safe }}</h3>
      {% if not gift %}
        <p class="body-grp" data-barley="term.{{ term.id }}.description" data-barley-editor="simple">{{ term.description | safe}}</p>
      {% endif %}
    <p class="price cart-pricing-grp" data-barley="term_price.{{ term_price.id }}.price" data-barley-editor="simple">{{ term_price.price | currency }}</p>
    <a href="{{ product | product_subscribe_url(chosen_values, term, gift=gift) }}" type="button" class="alt-button-grp btn btn-default" data-barley="{{ term_price.id }}.sub_button_text" data-barley-editor="linkedit">SUBSCRIBE</a>
  </section>
</div>
