{% extends "base.html" %}

{% block header_class %}header-expanded slidepanel top{% endblock %}
{% block header_bg_img %}data-width="1437" data-height="763" data-barley="index_bg_img" data-barley-editor="bgimage" style="background-image: url('{{ 'images/banner-expanded-theme-2.jpg' | asset_url }}');"{% endblock %}
{% block header_content %}
  {{ super() }}
  
  <section class="content">
    <h1 class="heading h-section" data-barley="index_heading" data-barley-editor="simple">Open up for a box of joy</h1>
    <p data-barley="index_sub_heading" data-barley-editor="simple">Receive your first JoyBox at half price, when you sign up for a 6-month subscription!<br>Explore the joyous possibilities when you subscribe to receive JoyBox.</p>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-4 col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <a href="/subscribe/" data-barley="index_cta_main" data-barley-editor="linkedit" class="btn btn-primary fullsize mb-15">SUBSCRIBE</a>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <a href="/subscribe/gift/" data-barley="index_cta_gift" data-barley-editor="linkedit" class="btn btn-default fullsize">GIVE A GIFT</a>
      </div>                
    </div>
  </section>  
{% endblock %}

{% block page_content %} 

  <div id="panel-bottom" class="slidepanel bottom">
    
    <div class="fpanel">
      <div class="container">
        <h2 class="heading h-section text-center" data-barley="index_hiw_heading" data-barley-editor="simple">Here’s how it works</h2>   
        <div class="row">
          
          <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
              <section class="box-choose hiw col-sm-4">
                <figure><div data-barley="idx_hiw_step_1_img" data-barley-editor="image" data-width="97" data-height="103"><img src="{{'images/Step1-icon.png' | asset_url}}" alt=""></div></figure>
                <h4 class="subheading" data-barley="idx_hiw_step_1_text" data-barley-editor="simple">1. Choose box</h4>
              </section>
              <section class="box-choose hiw col-sm-4">
                <figure><div data-barley="idx_hiw_step_2_img" data-barley-editor="image" data-width="197" data-height="120"><img src="{{'images/Step2-icon.png' | asset_url}}" alt=""></div></figure>
                <h4 class="subheading" data-barley="idx_hiw_step_2_text" data-barley-editor="simple">2. Choose plan</h4>
              </section>
              <section class="box-choose hiw col-sm-4">
                <figure><div data-barley="idx_hiw_step_3_img" data-barley-editor="image" data-width="139" data-height="120"><img src="{{'images/Step3-icon.png' | asset_url }}" alt=""></div></figure>
                <h4 class="subheading" data-barley="idx_hiw_step_3_text" data-barley-editor="simple">3. Enjoy</h4>
              </section>                                                     
            </div>   
            <hr><br>
            <p class="text-center" data-barley="index_hiw_text" data-barley-editor="simple">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consequat eros sit amet dui vestibulum ornare. Integer ac egestas sem. Nunc elit elit, euismod a eleifend nec, ultrices eget tellus. Nunc mauris eros, scelerisque et egestas vitae, vestibulum eget lacus. Nam pretium eleifend auctor. Ut mattis viverra orci vel rhoncus. Mauris non condimentum turpis. Nullam consequat quam eget augue aliquet gravida.</p>    
            <br>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                <a href="/subscribe/" data-barley="content_cta_main" data-barley-editor="linkedit" class="btn btn-primary fullsize mb-15">SUBSCRIBE</a>
              </div>
            </div>
          </div>      
           
        </div><!-- /.row -->           
      </div><!-- /.container -->
    </div><!-- /.fpanel -->
         
  </div><!-- /.slidepanel -->
{% endblock %}
