.shop-listing-item {
	color: {{ settings['page_body/color'] }};
}

.shop-listing-item:hover,
.shop-listing-item:focus {
	text-decoration: none;
}

.shop-listing-item__image {
	background-position: center center;
	background-size: cover;
}

.shop-listing-item__name {
	margin: 10px 0;
}

.shop-listing-item__price {
	margin: 10px 0 30px;
}

.product_paging {
	margin: 20px 0;

	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.product_page a,
.next_page a,
.prev_page a {
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	display: block;
	margin: 0 2px;
	padding: 12px 15px;
}

.product_page.active a,
.product_page a:hover, .product_page a:focus,
.next_page a:hover, .next_page a:focus,
.prev_page a:hover, .prev_page a:focus {
	background-color: #F9F9F9;
	text-decoration: none;
}

.product_page.active a {
	color: black;
}
