#[[COMPONENT_ID]] {
	background-color: {{ settings['[[COMPONENT_ID]]/background_color'] }};
}

#[[COMPONENT_ID]] h1 {
	color: {{ settings['[[COMPONENT_ID]]/heading_1/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_1/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_1/font_size'] }};
}

#[[COMPONENT_ID]] h2 {
	color: {{ settings['[[COMPONENT_ID]]/heading_2/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_2/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_2/font_size'] }};
}

#[[COMPONENT_ID]] h3 {
	color: {{ settings['[[COMPONENT_ID]]/heading_3/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/heading_3/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/heading_3/font_size'] }};
}

#[[COMPONENT_ID]] p {
	color: {{ settings['[[COMPONENT_ID]]/body/color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/body/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/body/font_size'] }};
}


#[[COMPONENT_ID]] .btn {
	background-color: {{ settings['[[COMPONENT_ID]]/button/color'] }};
	color: {{ settings['[[COMPONENT_ID]]/button/text_color'] }};
	font-family: {{ settings['[[COMPONENT_ID]]/button/font_face'] }};
	font-size: {{ settings['[[COMPONENT_ID]]/button/font_size'] }};
}

#[[COMPONENT_ID]] .btn:hover {
	background-color: {{ settings['[[COMPONENT_ID]]/button/hover_color'] }};
	color: {{ settings['[[COMPONENT_ID]]/button/hover_text_color'] }};
}

#[[COMPONENT_ID]] .component-rich-text-with-button__content-row,
#[[COMPONENT_ID]] .component-rich-text-with-button__button-row {
	padding: 10px 0;
}

@media (min-width: 768px) {
	#[[COMPONENT_ID]] .component-rich-text-with-button__content-row,
	#[[COMPONENT_ID]] .component-rich-text-with-button__button-row {
		margin: 0 auto;
		width: 80%;
	}
}