<div class="section-description" data-barley="cmpnt_descriptions_bg_img" data-width="1400" height="250" data-barley-editor="bgimage" style="background-image: url({{ 'images/bg-description.jpg' | asset_url }})">
  <div class="section-description-overlay img-bnr-overlay-grp">
    <div class="container lt-desc-grp">
      <div class="item col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
        <div class="thumb">
          <div class="move-barley-toolbar icon icon-star-green" data-barley="cmpnt_description_img_1" data-barley-editor="image" data-width="40" data-height="40">
            <img class="icon-img" src="{{ 'images/icon_star.png' | asset_url }}"/>
          </div>
        </div>
        <p data-barley="cmpnt_descriptions_1" data-barley-editor="simple">Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismo.</p>
      </div>
      <div class="item col-md-2 col-md-offset-2 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
        <div class="thumb">
          <div class="move-barley-toolbar icon icon-search-green" data-barley="cmpnt_description_img_2" data-barley-editor="image" data-width="40" data-height="40">
            <img class="icon-img" src="{{ 'images/icon_looking_glass.png' | asset_url }}"/>
          </div>
        </div>
        <p data-barley="cmpnt_descriptions_2" data-barley-editor="simple">Aliquam quam lectus, facilisis auctor, ultrices ut ornare ris.</p>
      </div>
      <div class="item col-md-2 col-md-offset-2 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
        <div class="thumb">
          <div class="move-barley-toolbar icon icon-book-green" data-barley="cmpnt_description_img_3" data-barley-editor="image" data-width="40" data-height="40">
            <img class="icon-img" src="{{ 'images/icon_book.png' | asset_url }}"/>
          </div>
        </div>
        <p data-barley="cmpnt_descriptions_3" data-barley-editor="simple">Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel.</p>
      </div>
    </div>
  </div>
</div>
