{% extends "base.html" %}

{% block page_content %}

<div class="fpanel">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="heading h-section lrg-heading-grp" data-barley="faq_heading" data-barley-editor="simple">Frequently Asked Questions</h2>
        <section class="faqbox">
          <h3 class="question collapsed sm-heading-grp" data-toggle="collapse" data-target="#faq-1"><i class="bullet"></i><span data-barley="faq_q1_heading" data-barley-editor="simple">What is BookSea?</h3>
          <div id="faq-1" class="answer collapse">
            <p data-barley="faq_q1_answer" data-barley-editor="simple">Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          </div>
        </section>
        <section class="faqbox">
          <h3 class="question collapsed sm-heading-grp" data-toggle="collapse" data-target="#faq-2"><i class="bullet"></i><span data-barley="faq_q2_heading" data-barley-editor="simple">How does it work?</span></h3>
          <div id="faq-2" class="answer collapse">
            <p data-barley="faq_q2_answer" data-barley-editor="simple">Maecenas urna metus, tempor a quam eget, molestie laoreet sem. Duis non gravida nibh, quis imperdiet neque. Fusce varius eros cursus tristique congue. Sed aliquam et felis sed congue. Proin ut feugiat augue,
          </div>
        </section>
        <section class="faqbox">
          <h3 class="question collapsed sm-heading-grp" data-toggle="collapse" data-target="#faq-3"><i class="bullet"></i><span data-barley="faq_q3_heading" data-barley-editor="simple">What kinds of questions will you ask during the process?</span></h3>
          <div id="faq-3" class="answer collapse">
            <p data-barley="faq_q3_answer" data-barley-editor="simple">Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
          </div>
        </section>
        <section class="faqbox">
          <h3 class="question collapsed sm-heading-grp" data-toggle="collapse" data-target="#faq-4"><i class="bullet"></i><span data-barley="faq_q4_heading" data-barley-editor="simple">How are the books selected?</span></h3>
          <div id="faq-4" class="answer collapse">
            <p data-barley="faq_q4_answer" data-barley-editor="simple">Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
          </div>
        </section>
        <section class="faqbox">
          <h3 class="question collapsed sm-heading-grp" data-toggle="collapse" data-target="#faq-5"><i class="bullet"></i><span data-barley="faq_q5_heading" data-barley-editor="simple">Who are the curators?</span></h3>
          <div id="faq-5" class="answer collapse">
            <p data-barley="faq_q5_answer" data-barley-editor="simple">Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
          </div>
        </section>
        <section class="faqbox">
          <h3 class="question collapsed sm-heading-grp" data-toggle="collapse" data-target="#faq-6"><i class="bullet"></i><span data-barley="faq_q6_heading" data-barley-editor="simple">Can I purchase a subscription as a gift?</span></h3>
          <div id="faq-6" class="answer collapse">
            <p data-barley="faq_q6_answer" data-barley-editor="simple">Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
          </div>
        </section>
        <section class="faqbox">
          <h3 class="question collapsed sm-heading-grp" data-toggle="collapse" data-target="#faq-7"><i class="bullet"></i><span data-barley="faq_q7_heading" data-barley-editor="simple">How does pricing work?</span></h3>
          <div id="faq-7" class="answer collapse">
            <p data-barley="faq_q7_answer" data-barley-editor="simple">Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
          </div>
        </section>
        <section class="faqbox">
          <h3 class="question collapsed sm-heading-grp" data-toggle="collapse" data-target="#faq-8"><i class="bullet"></i><span data-barley="faq_q8_heading" data-barley-editor="simple">Can I cancel my subscription?</span></h3>
          <div id="faq-8" class="answer collapse">
            <p data-barley="faq_q8_answer" data-barley-editor="simple">Maecenas urna metus, tempor a quam eget, molestie laoreet sem. Duis non gravida nibh, quis imperdiet neque. Fusce varius eros cursus tristique congue. Sed aliquam et felis sed congue. Proin ut feugiat augue, id aliquet arcu. Mauris condimentum placerat molestie. Cras ac rhoncus odio. Vestibulum pretium, arcu eget vulputate tincidunt, augue lacus auctor lorem, feugiat sodales lectus diam id justo. Phasellus et libero sem. Fusce viverra commodo tellus vel congue.</p>                
          </div>
        </section>
        <section class="faqbox">
          <h3 class="question collapsed sm-heading-grp" data-toggle="collapse" data-target="#faq-9"><i class="bullet"></i><span data-barley="faq_q9_heading" data-barley-editor="simple">What if I already have the book you sent? Can I return it?</span></h3>
          <div id="faq-9" class="answer collapse">
            <p data-barley="faq_q9_answer" data-barley-editor="simple">Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
          </div>
        </section>
      </div>
      <div class="visible-sm visible-xs"><br><br><br></div>
      <div class="col-md-4">
        <section class="module">
          <h2 class="heading lrg-heading-grp" data-barley="faq_contact_heading" data-barley-editor="simple">Have a question?<br>Get in touch with us!</h2>
          <p data-barley="faq_contact_content" data-barley-editor="simple">We’re always happy to help. Just drop us a line and we’ll get back to you as soon as we can!</p>
           {% if store.settings.support_email %}
				 <span data-barley-editor="simple" data-barley="email_us_faq_prompt">email us at</span>
				 <a data-barley="email_us_faq" data-barley-editor="link" class="ftr-nav-grp" href="mailto:{{ store.settings.support_email }}">
				  <strong class="hlight">
				   {{ store.settings.support_email }}
				  </strong>
				 </a>
              {% endif %}
        </section>
      </div>
    </div>
  </div>
</div>

<div class="fpanel bg2 hiw-bg-grp">
  <div class="container">
    <section>
      <h2 class="heading h-section lrg-heading-grp" data-barley="faq_footer_heading" data-barley-editor="simple">What is BookSea?</h2>
      <p data-barley="faq_footer_content" data-barley-editor="simple">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat tmattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>                
    </section>
  </div>
</div>

{% include "components/descriptions.html" %}

{% endblock %}
